[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_07A00013612448AF2425285DC42000F5-if00

[include mainsail.cfg]

[exclude_object]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 500
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
# Using P2.2 for step and P2.6 for dir as per your working setup
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 16
endstop_pin: P1.29
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.17
run_current: 0.800
interpolate: False
#diag_pin: P1.29      # Only needed if you want to use Sensorless Homing
stealthchop_threshold: 100

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 16
endstop_pin: P1.27
position_endstop: 0
position_max: 235
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.15
run_current: 0.800
interpolate: False
#diag_pin: P1.27      # Only needed if you want to use Sensorless Homing
stealthchop_threshold: 100

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
rotation_distance: 7.960
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_min: -2
position_max: 250

[tmc2209 stepper_z]
uart_pin: P1.10
run_current: 0.800
interpolate: False
stealthchop_threshold: 999999

[extruder]
pressure_advance: 0.0
pressure_advance_smooth_time: 0.5
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 33.56
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: pid
#pid_Kp: 21.73
#pid_Ki: 1.54
#pid_Kd: 76.55
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: P1.8
run_current: 0.650
interpolate: False
stealthchop_threshold: 999999

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[heater_fan hotend_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0

[bltouch]
sensor_pin: P1.24
control_pin: P2.0
x_offset: -51.00
y_offset: -20.00

[safe_z_home]
home_xy_position: 117.5, 117.5
speed: 50
z_hop: 10
z_hop_speed: 5


[bed_mesh]
speed: 120
horizontal_move_z: 5
# The probe is at (0,0) when the nozzle is at (51, 15)
mesh_min: 10, 15
# The probe is at (179, 215) when the nozzle is at (230, 230)
mesh_max: 179, 215
probe_count: 5, 5
algorithm: bicubic
fade_start: 1
fade_end: 10
#z_offset: 0.950

[filament_switch_sensor runout_sensor]
switch_pin: ^P1.28
pause_on_runout: True

[display]
lcd_type: st7920
cs_pin: P1.22
sclk_pin: P1.21
sid_pin: P1.23
encoder_pins: ^P1.20, ^P1.18
encoder_steps_per_detent: 4
click_pin: ^!P0.28

[pwm_cycle_time _BEEPER_pin]
pin: P1.30
#   Beeper pin. This parameter must be provided.
#   P1.30 is the default SKR 1.3 pin.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

#Menu items here 
[menu __main __power]
type: list
name: Power Control

[menu __main __power __printer]
type: command
name: Printer: Toggle
gcode: TOGGLE_PRINTER

[menu __main __power __lights]
type: command
name: Lights: Toggle
gcode: TOGGLE_LIGHTS

[menu __main __power __fan]
type: command
name: Fan: Toggle
gcode: TOGGLE_FAN

[menu __main __filament __change]
type: command
name: Change Filament
gcode:
    M600
    
### Remove Octroprint
[menu __main __octoprint]
type: list
name: OctoPrint
enable: false
### Remove Octroprint end

### Remove Old Filament comamnds
[menu __main __filament __loadf]
enable: false
type: command
name: Load Fil. fast
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E50 F960
    RESTORE_GCODE_STATE NAME=__filament__load

[menu __main __filament __loads]
enable: false
type: command
name: Load Fil. slow
gcode:
    SAVE_GCODE_STATE NAME=__filament__load
    M83
    G1 E50 F240
    RESTORE_GCODE_STATE NAME=__filament__load
    
[menu __main __filament __unloadf]
enable: false
type: command
name: Load Fil. fast
gcode:

[menu __main __filament __unloads]
enable: false
type: command
name: Load Fil. slow
gcode:

[menu __main __filament __feed]
enable: false
type: input
name: Feed: {'%.1f' % menu.input}
input: 5
input_step: 0.1
### Remove Old Filament comamnds END

[display_status]
#Enables tracking of print progress and messages from M73 G-Code and the last message from M117 G-Code to user interfaces

#macros here
#Present Moves bed to the front
[gcode_macro PRESENT]
gcode:
    G1 X0 Y235 F3000

#Cancel the whole Print Job

#Change Filament 
[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-5 F2700        ; retract
    G1 Z{Z} F900        ; lift Z
    G90
    G1 X{X} Y{Y} F3000  ; move to side
    G91
    G1 E-50 F1000       ; unload filament
    RESTORE_GCODE_STATE NAME=M600_state
    
#M300 [P<ms>] [S<Hz>]
[gcode_macro _SOUND_YES]
gcode:
    M300 S880 P100
    M300 S1320 P150

#Make M300 Work
    # Use a default 1kHz tone if S is omitted.
    # Use a 10ms duration is P is omitted.
[gcode_macro M300]
gcode:
    {% set S = params.S|default(800)|int %}
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=_BEEPER_pin VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=_BEEPER_pin VALUE=0

    # Parameters known to M486...
  # Parameters known to M486 are as follows:
  #   [C<flag>] Cancel the current object
  #   [P<index>] Cancel the object with the given index
  #   [S<index>] Set the index of the current object.
  #       If the object with the given index has been canceled, this will cause
  #       the firmware to skip to the next object. The value -1 is used to
  #       indicate something that isn’t an object and shouldn’t be skipped.
  #   [T<count>] Reset the state and set the number of objects
  #   [U<index>] Un-cancel the object with the given index. This command will be
  #       ignored if the object has already been skipped
[gcode_macro M486]
gcode:
    {% if 'exclude_object' not in printer %}
        {action_raise_error("[exclude_object] is not enabled")}
    {% endif %}
    {% if 'T' in params %}
        EXCLUDE_OBJECT RESET=1
        {% for i in range(params.T | int) %}
            EXCLUDE_OBJECT_DEFINE NAME={i}
        {% endfor %}
    {% endif %}
    {% if 'C' in params %}
        EXCLUDE_OBJECT CURRENT=1
    {% endif %}
    {% if 'P' in params %}
        EXCLUDE_OBJECT NAME={params.P}
    {% endif %}
    {% if 'S' in params %}
        {% if params.S == '-1' %}
            {% if printer.exclude_object.current_object %}
                EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
            {% endif %}
        {% else %}
            EXCLUDE_OBJECT_START NAME={params.S}
        {% endif %}
    {% endif %}
    {% if 'U' in params %}
        EXCLUDE_OBJECT RESET=1 NAME={params.U}
    {% endif %}

# Calibrate Z Probe
[gcode_macro MY_PROBE_CALIBRATE]
gcode:
    G28
    PROBE_CALIBRATE

#toggle the printer power
[gcode_macro TOGGLE_PRINTER]
gcode:
    {action_call_remote_method("set_device_power", device="printer", state="toggle")}

#toggle the LED lights power
[gcode_macro TOGGLE_LIGHTS]
gcode:
    {action_call_remote_method("set_device_power", device="lights", state="toggle")}

#toggle the fan power
[gcode_macro TOGGLE_FAN]
gcode:
    {action_call_remote_method("set_device_power", device="fan", state="toggle")}

#Start print settings
[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    # Start heating (no wait)
    M104 S{EXTRUDER_TEMP}
    M140 S{BED_TEMP}

    # Home and Leveling
    G28 ; Home all axes
    
    # Wait for temperatures
    M190 S{BED_TEMP}
    M109 S{EXTRUDER_TEMP}

    # Load Bed Mesh
    BED_MESH_PROFILE LOAD=default 

    G92 E0 ; Reset Extruder
    M117 By your command!

#end print settings
[gcode_macro END_PRINT]
gcode:
    G91 ; Set coordinates to relative
    G1 F1800 E-2 ; Retract filament 2 mm
    G1 F3000 Z10 ; Move Z Axis up 10 mm
    G90 ; Set coordinates to absolute
    
    # Move Bed to the front (235mm) for removal
    G1 X0 F1000 
    
    # Turn off components
    M106 S0 ; Turn off cooling fan
    M104 S0 ; Turn off extruder
    M140 S0 ; Turn off bed
    M84 ; Disable stepper motors
    M300 S440 P200
    M300 S880 P300
    M117 That's All Folks!

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.701
#*# pid_ki = 1.664
#*# pid_kd = 115.307
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.050
#*# pid_ki = 1.410
#*# pid_kd = 895.234
#*#
#*# [bltouch]
#*# z_offset = 1.020
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.022388, 0.019900, 0.037313, 0.067163, -0.027362
#*# 	  0.119400, 0.077113, 0.042288, 0.054725, 0.024875
#*# 	  0.171638, 0.114425, 0.119400, 0.089550, 0.104475
#*# 	  0.213925, 0.119400, 0.121888, 0.111938, 0.089550
#*# 	  0.440288, 0.258700, 0.194025, 0.199000, 0.256213
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 179.0
#*# min_y = 15.0
#*# max_y = 215.0
